/vendor
/node_modules
/public/build
/.env
/.env.*
!/\.env.example
!/\.env.docker

/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*
!bootstrap/cache/.gitignore

.phpunit.cache
.idea
.vscode
